<a href="https://colab.research.google.com/github/yisuuum/practice/blob/main/Team_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open("ids.txt", 'w') as f :
  f.write('ID \n John \n Karl \n Andy \n Tim')

In [ ]:
with open("data1.txt", 'w') as f :
  f.write('ID \t field1 \t field2 \t field3 \n Tom \t 1 \t 3 \t 1 \n John \t 1 \t 3 \t 1 \n Tom \t 1 \t 1 \t 1 \n Karl \t 1 \t 1 \t 2 \n Karl \t 1 \t 3 \t 2 \n Karl \t 2 \t 2 \t 2 \n Andy \t 1 \t 2 \t 3')

In [ ]:
with open("data2.txt", 'w') as f :
  f.write('ID \t field1 \t field2 \t field3 \n Tom \t 2 \t 3 \t 1 \n Jane \t 1 \t 1 \t 3 \n Jane \t 2 \t 2 \t 1 \n Max \t 3 \t 1 \t 2 \n Karl \t 1 \t 4 \t 2 \n Max \t 3 \t 2 \t 2 \n Max \t 2 \t 2 \t 1')

In [ ]:
ids = []
with open('ids.txt', 'r') as f :
  for item in f :
    print(item)
    ids.append(item.strip())

ID

 John

 Karl

 Andy

 Tim

In [ ]:
with open("data1.txt", encoding='utf-8') as f:
  for item in f :
    nm, f1, f2, f3 = item.strip().split()
    print("nm: {}, f1: {}, f2: {}, f3: {}".format(nm, f1, f2, f3) )

nm: ID, f1: field1, f2: field2, f3: field3
nm: Tom, f1: 1, f2: 3, f3: 1
nm: John, f1: 1, f2: 3, f3: 1
nm: Tom, f1: 1, f2: 1, f3: 1
nm: Karl, f1: 1, f2: 1, f3: 2
nm: Karl, f1: 1, f2: 3, f3: 2
nm: Karl, f1: 2, f2: 2, f3: 2
nm: Andy, f1: 1, f2: 2, f3: 3

In [ ]:
with open("data2.txt", encoding='utf-8') as f:
  for item in f :
    nm, f1, f2, f3 = item.strip().split()
    print("nm: {}, f1: {}, f2: {}, f3: {}".format(nm, f1, f2, f3) )

nm: ID, f1: field1, f2: field2, f3: field3
nm: Tom, f1: 2, f2: 3, f3: 1
nm: Jane, f1: 1, f2: 1, f3: 3
nm: Jane, f1: 2, f2: 2, f3: 1
nm: Max, f1: 3, f2: 1, f3: 2
nm: Karl, f1: 1, f2: 4, f3: 2
nm: Max, f1: 3, f2: 2, f3: 2
nm: Max, f1: 2, f2: 2, f3: 1

In [ ]:
ids[1:]

['John', 'Karl', 'Andy', 'Tim']

In [ ]:
with open('new_data.txt', 'w') as fw :

  with open('data1.txt', 'r', encoding='utf-8') as f :
    for item in f :
      nm, f1, f2, f3 = item.strip().split()
      if nm in ids[1:] :
        fw.write(item)

  fw.write("\n")
      
  with open('data2.txt', 'r', encoding='utf-8') as f :
    for item in f :
       nm, f1, f2, f3 = item.strip().split()
       if nm in ids[1:] :
        fw.write(item)

In [ ]:
with open("new_data.txt", encoding='utf-8') as f:
    for item in f :
      print(item)

 John 	 1 	 3 	 1

 Karl 	 1 	 1 	 2

 Karl 	 1 	 3 	 2

 Karl 	 2 	 2 	 2

 Andy 	 1 	 2 	 3

 Karl 	 1 	 4 	 2